@font-face {
    font-family: 'Neoneon';
    src: url('Neoneon.woff2') format('woff2'),
        url('Neoneon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

